body {
  background-color: #DCDCDC;
}

p {
  font-weight: bold;
  text-align: center;
}

header {
  background-color: white;
  width: auto;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2{
  border-left: #8d6449 5px solid;
  background-color: #d6c6af;
}

h3{
  text-align: center;
}

ul {
  display: flex;
  text-align: right;
}

li {
  list-style: none;
  display: inline;
  text-align: right;
  padding-right: 20px;
}

footer {
  background-color: white;
  width: auto;
}

.content {
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

body {
  background-color: #DCDCDC;
}

form {
  width: 400px;
  padding: 40px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #000;
  text-align: center;
}

form h1,form p {
  color: white;
  font-weight: 500;
}

form p {
  font-size: 10px;
}

form input[type = "id"],form input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #ff69b4;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  text-align: center;
}

form input[type = "id"]:focus,form input[type = "password"]:focus {
  width: 280px;
  background-color: #f0f8ff;
}

form input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #f0f8ff;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  text-align: center;
  cursor: pointer;
}

form input[type = "submit"]:hover {
  background-color: #ff69b4;
  border: 2px solid #ff69b4;
}

.box{
position: absolute;
width: 1440px;
height: 1448px;
left: 169px;
top: 300px;
}

.girl{
background: url(女の子背んが.png);
}

.box{
position: absolute;
width: 554px;
height: 300px;
left: 60px;
top: 510px;

background: #FBF092;
mix-blend-mode: normal;
}


.box{
position: absolute;
width: 510px;
height: 300px;
left: 1320px;
top: 810px;

background:　#FE9ADC;
mix-blend-mode: normal;
}

.sukekan{
position: absolute;
width: 586px;
height: 140px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 87px;
text-align: center;

color: #000000;
}

.useapp{
position: absolute;
width: 445px;
height: 174px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 87px;
text-align: center;

color: #000000;
}
